{{!-- 
<div class="containers">
    <div class="">
        <h1>days </h1>
        <div id="">
            {{#each storedShifts}}
            <ul id="shiftdays">
                <h6>{{day}}</h6>
                {{#each Waiters}}
                <li class="{{../color}}">{{this}}</li>
                {{/each}}
            </ul>
            {{/each}}
        </div>
    </div>
    <a href="/clear">
        <button type="submit" id="clear">clear shifts</button>
    </a>
</div>  --}}



   
  
 <h1>Booked shifts</h1>
  <div class="topClear">
       <a href="/clear">
        <button type="submit" id="clear"><i class="trash icon"></i></button>
         </a> 
  </div>
<div class="containers box ">
<div class="ui computer reversed half width grid moveDown">
    <div class=" rows moveDown">
        <div class="two row">
            {{!-- ui mobile  equal width grid columns --}}
            {{#each storedShifts}}
            <ul id="shiftdays" >
                <h6>{{day}}</h6>
                {{#each Waiters}}
                <li class="{{../color}}">{{this}}</li>
                {{/each}}
            </ul>
            {{/each}}
        </div>
    </div>
</div>
</div>

